Atividade_09_Resumo_Noticia.json
{
  "name": "Atividade_09_Resumo_Noticia",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 10
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        0,
        -32
      ],
      "id": "05ca5783-fdc3-4edf-b482-f222672c2f2b",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?q=brasil&language=pt&apiKey=50e827716bbd4bd9a1e596c87ce4d507",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "AI"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        -176
      ],
      "id": "bc337469-a883-439d-bcbd-244e58da6163",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "url": "https://newsapi.org/v2/everything?q=brasil&language=pt&apiKey=50e827716bbd4bd9a1e596c87ce4d507",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "Futebol"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        304,
        112
      ],
      "id": "585b846e-25ad-44cb-a22c-c5f341343902",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ceb4923-5fd5-4587-a3ac-01b1137e628e",
              "name": "articles",
              "value": "={{ $json.articles }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        -176
      ],
      "id": "89ae090a-70d4-43be-8d50-9c0ed0cf46a8",
      "name": "Artigos 1"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "3ceb4923-5fd5-4587-a3ac-01b1137e628e",
              "name": "articles",
              "value": "={{ $json.articles }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        112
      ],
      "id": "33cc37e0-e09d-47fa-af86-3b4aace94449",
      "name": "Artigos 2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        768,
        -48
      ],
      "id": "d9f8c15c-4bdd-4962-b73b-0094e678e958",
      "name": "Merge"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Quero que organize o meu artigo em uma lsita , apenas com o titulo das noticias: {{ $json.articles }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        976,
        -48
      ],
      "id": "d368ed3c-46f9-4fef-8482-17b856cd269e",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-3.5-turbo",
          "mode": "list",
          "cachedResultName": "gpt-3.5-turbo"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        848,
        160
      ],
      "id": "426f1f18-6bae-406e-a1bf-591c0c9f1271",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "TEtIIpiVjwrRhKkB",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1328,
        -48
      ],
      "id": "367fd47e-cf4c-4b1c-9b3f-12ae8f4d1e6c",
      "name": "Send a text message",
      "webhookId": "cf62f8e8-df12-4fc8-860a-95a9ec61a624"
    }
  ],
  "pinData": {},
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Artigos 1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "Artigos 2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artigos 1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Artigos 2": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Send a text message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "5012fc46-526f-4373-a075-96c39e62aece",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "41aec6659e4bed90109ce40f1a615ca51400ff726a3b840174a2222cf80625b0"
  },
  "id": "yghvEkMY7iEMdAOU",
  "tags": []
}